Repository create1st/docker-localstack: changes, and which Buildkite steps are due for each by the changed paths.
All: :gradle: Triggered application update, :terraform: Triggered infrastructure update

.buildkite/pipeline.yaml:

env:
  BUILDKITE_CLEAN_CHECKOUT: true

  INFRA_PATH: 'infrastructure'

  BK_AGENT_GLOBAL: 'global'
steps:
  - label: ':buildkite: Triggering pipelines'
    plugins:
      - chronotc/monorepo-diff#1.3.2:
          diff: ".buildkite/scripts/diff-against-last-built-tag.sh"
          watch:
            - path: app/
              config:
                label: ':gradle: Triggered application update'
                trigger: docker-localstack-app
                async: false
            - path: infrastructure/
              config:
                label: ':terraform: Triggered infrastructure update'
                command: "buildkite-agent pipeline upload ${INFRA_PATH}/.buildkite/pipeline.yaml"
                async: false
                env:
                  - INFRA_PATH
          hooks:
            - command: "echo $(git rev-parse HEAD) > last_successful_build"
    agents:
      queue: ${BK_AGENT_GLOBAL}

Spring boot app (#11)
  .buildkite/pipeline.yaml
  .gitignore
  README.md
  app/.buildkite/pipeline.yaml
  app/build.gradle
  app/build.gradle.kts
  app/settings.gradle
  app/settings.gradle.kts
  app/src/integrationTest/kotlin/com/create/dockerlocalhost/IntegrationTests.kt
  app/src/main/kotlin/com/create/dockerlocalhost/App.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
  app/src/main/resources/logback-spring.xml
  app/src/test/kotlin/com/create/dockerlocalhost/AppTests.kt
  docker-compose.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/docker-compose.yaml
Due: :gradle: Triggered application update, :terraform: Triggered infrastructure update

Kotlin gradle improvement
  app/build.gradle.kts
Due: :gradle: Triggered application update

Kotlin gradle improvement (#14)
  app/build.gradle.kts
Due: :gradle: Triggered application update

Improve CI-DI
  README.md
  app/.buildkite/pipeline.yaml
  app/build.gradle.kts
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  app/localstack/Dockerfile
  app/localstack/scripts/credentials.json
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  app/src/integrationTest/kotlin/com/create/dockerlocalhost/IntegrationTests.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
  app/src/test/kotlin/com/create/dockerlocalhost/AppTests.kt
  docker-compose-localstack.yaml
Due: :gradle: Triggered application update

Improve CI-DI (#15)
  README.md
  app/.buildkite/pipeline.yaml
  app/build.gradle.kts
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  app/localstack/Dockerfile
  app/localstack/scripts/credentials.json
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  app/src/integrationTest/kotlin/com/create/dockerlocalhost/IntegrationTests.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
  app/src/test/kotlin/com/create/dockerlocalhost/AppTests.kt
  docker-compose-localstack.yaml
Due: :gradle: Triggered application update

Test reactor
  app/build.gradle.kts
  app/src/test/kotlin/com/create/dockerlocalhost/reactor/ReactorTest.kt
Due: :gradle: Triggered application update

Test reactor (#17)
  app/build.gradle.kts
  app/src/test/kotlin/com/create/dockerlocalhost/reactor/ReactorTest.kt
Due: :gradle: Triggered application update

Acceptance tests
  README.md
  app/.buildkite/pipeline.yaml
  app/build.gradle.kts
  app/docker-compose-acceptance-tests.yml
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/AcceptanceTests.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/StepDefinitions.kt
  app/src/acceptanceTest/resources/features/dockerlocalhost.feature
Due: :gradle: Triggered application update

Acceptance tests (#18)
  README.md
  app/.buildkite/pipeline.yaml
  app/build.gradle.kts
  app/docker-compose-acceptance-tests.yml
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/AcceptanceTests.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/StepDefinitions.kt
  app/src/acceptanceTest/resources/features/dockerlocalhost.feature
Due: :gradle: Triggered application update

Add ReactJS sample App inside Nginx run as nginx unprivileged user
  .buildkite/pipeline.yaml
  .gitignore
  README.md
  app/.buildkite/pipeline.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  webapp/.buildkite/pipeline.yaml
  webapp/docker-compose.yml
  webapp/image/Dockerfile
  webapp/nginx/conf.d/webapp.conf
  webapp/nginx/nginx.conf
  webapp/web-ui/README.md
  webapp/web-ui/package-lock.json
  webapp/web-ui/package.json
  webapp/web-ui/public/favicon.ico
  webapp/web-ui/public/index.html
  webapp/web-ui/public/logo192.png
  webapp/web-ui/public/logo512.png
  webapp/web-ui/public/manifest.json
  webapp/web-ui/public/robots.txt
  webapp/web-ui/src/App.css
  webapp/web-ui/src/App.test.tsx
  webapp/web-ui/src/App.tsx
  webapp/web-ui/src/index.css
  webapp/web-ui/src/index.tsx
  webapp/web-ui/src/logo.svg
  webapp/web-ui/src/react-app-env.d.ts
  webapp/web-ui/src/reportWebVitals.ts
  webapp/web-ui/src/setupTests.ts
  webapp/web-ui/tsconfig.json
Due: :gradle: Triggered application update

Add ReactJS sample App inside Nginx run as nginx unprivileged user (#24)
  .buildkite/pipeline.yaml
  .gitignore
  README.md
  app/.buildkite/pipeline.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  webapp/.buildkite/pipeline.yaml
  webapp/docker-compose.yml
  webapp/image/Dockerfile
  webapp/nginx/conf.d/webapp.conf
  webapp/nginx/nginx.conf
  webapp/web-ui/README.md
  webapp/web-ui/package-lock.json
  webapp/web-ui/package.json
  webapp/web-ui/public/favicon.ico
  webapp/web-ui/public/index.html
  webapp/web-ui/public/logo192.png
  webapp/web-ui/public/logo512.png
  webapp/web-ui/public/manifest.json
  webapp/web-ui/public/robots.txt
  webapp/web-ui/src/App.css
  webapp/web-ui/src/App.test.tsx
  webapp/web-ui/src/App.tsx
  webapp/web-ui/src/index.css
  webapp/web-ui/src/index.tsx
  webapp/web-ui/src/logo.svg
  webapp/web-ui/src/react-app-env.d.ts
  webapp/web-ui/src/reportWebVitals.ts
  webapp/web-ui/src/setupTests.ts
  webapp/web-ui/tsconfig.json
Due: :gradle: Triggered application update

AWS Spring configuration
  app/build.gradle.kts
  app/docker-compose-acceptance-tests.yml
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  app/localstack/Dockerfile
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  app/src/main/kotlin/com/create/dockerlocalhost/App.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AwsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/DynamoDbConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/KmsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SnsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SqsConfig.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
Due: :gradle: Triggered application update

AWS Spring configuration (#25)
  app/build.gradle.kts
  app/docker-compose-acceptance-tests.yml
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  app/localstack/Dockerfile
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  app/src/main/kotlin/com/create/dockerlocalhost/App.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AwsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/DynamoDbConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/KmsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SnsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SqsConfig.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
Due: :gradle: Triggered application update

Shellcheck
  app/.buildkite/pipeline.yaml
  app/docker-compose-acceptance-tests.yml
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  webapp/docker-compose.yml
Due: :gradle: Triggered application update

Shellcheck (#29)
  app/.buildkite/pipeline.yaml
  app/docker-compose-acceptance-tests.yml
  app/docker-compose-integration-tests.yml
  app/docker-compose-local.yml
  webapp/docker-compose.yml
Due: :gradle: Triggered application update

Update README.md
  README.md
Due: none

Gradle tests output logging
  app/build.gradle.kts
Due: :gradle: Triggered application update

Gradle tests output logging (#31)
  app/build.gradle.kts
Due: :gradle: Triggered application update

CI-DI docker image
  .buildkite/image/Dockerfile
  .buildkite/image/helmchart/.helmignore
  .buildkite/image/helmchart/Chart.yaml
  .buildkite/image/helmchart/templates/kubeconfig.yaml
  .buildkite/image/helmchart/values.yaml
  .buildkite/image/scripts/kubeconfig.sh
Due: none

CI-DI docker image
  .buildkite/image/Dockerfile
Due: none

CI-DI K8s image (#33)
  .buildkite/image/Dockerfile
  .buildkite/image/helmchart/.helmignore
  .buildkite/image/helmchart/Chart.yaml
  .buildkite/image/helmchart/templates/kubeconfig.yaml
  .buildkite/image/helmchart/values.yaml
  .buildkite/image/scripts/kubeconfig.sh
Due: none

K8s ops
  .buildkite/hooks/post-command
  .buildkite/image/docker-compose.yml
  .buildkite/image/helmchart/templates/kubeconfig.yaml
  .buildkite/image/helmchart/values.yaml
  .buildkite/image/scripts/kubeconfig.sh
  .buildkite/pipeline-k8s-ci-di-image.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/bk-annotate.sh
  .buildkite/scripts/diff-against-last-built-tag.sh
  .buildkite/scripts/diff-against-last-successful-build.sh
  .buildkite/scripts/docker-compose-k8s-ops.yml
  .buildkite/scripts/k8s-ops.sh
  .buildkite/scripts/k8s-rollout-restart-deployment.sh
  .buildkite/scripts/k8s-set-context.sh
  .buildkite/scripts/k8s-start.sh
  .buildkite/scripts/k8s-stop.sh
  README.md
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  infrastructure/.buildkite/hooks/post-command
  infrastructure/scripts/apply.sh
  infrastructure/scripts/fmt.sh
  infrastructure/scripts/plan.sh
  infrastructure/scripts/validate.sh
Due: :gradle: Triggered application update, :terraform: Triggered infrastructure update

K8s ops
  .buildkite/image/Dockerfile
  .buildkite/image/docker-compose.yml
  .buildkite/pipeline-k8s-ci-di-image.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/docker-compose-k8s-ops.yml
  README.md
Due: none

K8s ops (#34)
  .buildkite/hooks/post-command
  .buildkite/image/Dockerfile
  .buildkite/image/docker-compose.yml
  .buildkite/image/helmchart/templates/kubeconfig.yaml
  .buildkite/image/helmchart/values.yaml
  .buildkite/image/scripts/kubeconfig.sh
  .buildkite/pipeline-k8s-ci-di-image.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/bk-annotate.sh
  .buildkite/scripts/diff-against-last-built-tag.sh
  .buildkite/scripts/diff-against-last-successful-build.sh
  .buildkite/scripts/docker-compose-k8s-ops.yml
  .buildkite/scripts/k8s-ops.sh
  .buildkite/scripts/k8s-rollout-restart-deployment.sh
  .buildkite/scripts/k8s-set-context.sh
  .buildkite/scripts/k8s-start.sh
  .buildkite/scripts/k8s-stop.sh
  README.md
  app/localstack/scripts/entrypoint.sh
  app/localstack/scripts/wait_for_service.sh
  infrastructure/.buildkite/hooks/post-command
  infrastructure/scripts/apply.sh
  infrastructure/scripts/fmt.sh
  infrastructure/scripts/plan.sh
  infrastructure/scripts/validate.sh
Due: :gradle: Triggered application update, :terraform: Triggered infrastructure update

squash! K8s ops
  .buildkite/image/docker-compose.yml
  .buildkite/pipeline-aws-ops.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/docker-compose-k8s-ops.yml
  .buildkite/scripts/k8s-ops.sh
Due: none

squash! K8s ops (#37)
  .buildkite/image/docker-compose.yml
  .buildkite/pipeline-aws-ops.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/docker-compose-k8s-ops.yml
  .buildkite/scripts/k8s-ops.sh
Due: none

DynamoDB
  .buildkite/pipeline-aws-dynamodb-delete-items.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-dynamodb-delete-items.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/aws/dynamodb/docker-localstack-tables.txt
  .buildkite/scripts/bk-create-pipeline.sh
  .buildkite/scripts/bk-set-env.sh
  .buildkite/scripts/buildkite-templates/aws-dynamodb-delete-items-pipeline.yaml
  .buildkite/scripts/formatting.sh
  .buildkite/scripts/k8s-ops.sh
  README.md
  app/build.gradle.kts
  app/localstack/scripts/entrypoint.sh
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/AcceptanceTests.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/StepDefinitions.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/glue/StepDefinitions.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/glue/config/GlueConfig.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/types/TypeRegex.kt
  app/src/acceptanceTest/resources/cucumber.properties
  app/src/acceptanceTest/resources/features/dockerlocalhost.feature
  app/src/acceptanceTest/resources/logback-spring.xml
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/RepositoryConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/model/Order.kt
  app/src/main/kotlin/com/create/dockerlocalhost/model/OrderStatus.kt
  app/src/main/kotlin/com/create/dockerlocalhost/repository/OrderRepository.kt
  app/src/main/kotlin/com/create/dockerlocalhost/repository/dynamodb/DynamoDbOrderRepository.kt
  app/src/main/resources/application-local.yml
  app/src/test/kotlin/com/create/dockerlocalhost/model/TestOrder.kt
Due: :gradle: Triggered application update

DynamoDB (#43)
  .buildkite/pipeline-aws-dynamodb-delete-items.yaml
  .buildkite/scripts/aws-assume-role.sh
  .buildkite/scripts/aws-dynamodb-delete-items.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/aws/dynamodb/docker-localstack-tables.txt
  .buildkite/scripts/bk-create-pipeline.sh
  .buildkite/scripts/bk-set-env.sh
  .buildkite/scripts/buildkite-templates/aws-dynamodb-delete-items-pipeline.yaml
  .buildkite/scripts/formatting.sh
  .buildkite/scripts/k8s-ops.sh
  README.md
  app/build.gradle.kts
  app/localstack/scripts/entrypoint.sh
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/AcceptanceTests.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/StepDefinitions.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/glue/StepDefinitions.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/glue/config/GlueConfig.kt
  app/src/acceptanceTest/kotlin/com/create/dockerlocalhost/types/TypeRegex.kt
  app/src/acceptanceTest/resources/cucumber.properties
  app/src/acceptanceTest/resources/features/dockerlocalhost.feature
  app/src/acceptanceTest/resources/logback-spring.xml
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/RepositoryConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/model/Order.kt
  app/src/main/kotlin/com/create/dockerlocalhost/model/OrderStatus.kt
  app/src/main/kotlin/com/create/dockerlocalhost/repository/OrderRepository.kt
  app/src/main/kotlin/com/create/dockerlocalhost/repository/dynamodb/DynamoDbOrderRepository.kt
  app/src/main/resources/application-local.yml
  app/src/test/kotlin/com/create/dockerlocalhost/model/TestOrder.kt
Due: :gradle: Triggered application update

BK pipelines optimization
  .buildkite/pipeline-aws-dynamodb-delete-items.yaml
  .buildkite/pipeline-aws-ops.yaml
  .buildkite/scripts/aws-dynamodb-delete-items.sh
  .buildkite/scripts/bk-create-pipeline.sh
  .buildkite/scripts/bk-export-meta-data.sh
  .buildkite/scripts/bk-set-env.sh
  .buildkite/scripts/buildkite-templates/aws-dynamodb-delete-items-pipeline.yaml
  README.md
Due: none

BK pipelines optimization
  .buildkite/pipeline-aws-ops-development.yaml
  .buildkite/pipeline-aws-ops.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-dynamodb-delete-items.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/aws-secrets-manager-rotate-secrets.sh
  .buildkite/scripts/bk-create-pipeline.sh
  .buildkite/scripts/buildkite-templates/aws-secrets-manager-rotate-secret-pipeline.yaml
  README.md
Due: none

Bk optimization (#44)
  .buildkite/pipeline-aws-ops-development.yaml
  .buildkite/pipeline-aws-ops.yaml
  .buildkite/pipeline-k8s-ops.yaml
  .buildkite/scripts/aws-dynamodb-delete-items.sh
  .buildkite/scripts/aws-ops.sh
  .buildkite/scripts/aws-secrets-manager-rotate-secrets.sh
  .buildkite/scripts/bk-create-pipeline.sh
  .buildkite/scripts/bk-export-meta-data.sh
  .buildkite/scripts/bk-set-env.sh
  .buildkite/scripts/buildkite-templates/aws-dynamodb-delete-items-pipeline.yaml
  .buildkite/scripts/buildkite-templates/aws-secrets-manager-rotate-secret-pipeline.yaml
  README.md
Due: none

Meta-data validation
  .buildkite/scripts/bk-export-meta-data.sh
Due: none

Meta-data validation (#49)
  .buildkite/scripts/bk-export-meta-data.sh
Due: none

Remove Tomcat dependency
  app/build.gradle.kts
Due: :gradle: Triggered application update

Remove Tomcat dependency (#50)
  app/build.gradle.kts
Due: :gradle: Triggered application update

Migrate secrets to AWS SDK v2
  README.md
  app/build.gradle.kts
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AwsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/DataSourceConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SecretsManagerConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/datasource/AwsSecretDataSourceProperties.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
Due: :gradle: Triggered application update

Migrate secrets to AWS SDK v2 (#51)
  README.md
  app/build.gradle.kts
  app/src/main/kotlin/com/create/dockerlocalhost/config/AppConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/AwsConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/DataSourceConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/aws/SecretsManagerConfig.kt
  app/src/main/kotlin/com/create/dockerlocalhost/config/datasource/AwsSecretDataSourceProperties.kt
  app/src/main/resources/application-local.yml
  app/src/main/resources/application.yml
Due: :gradle: Triggered application update
